<div class="toolbar" role="banner">

  <h2>Quote Api</h2>
  <div class="spacer"></div>
</div>

<div class="content" role="main">
  <div class="card-container">
    <div class="card card-small">
      <a href="/">Home</a>

    </div>
    <div class="card card-small">
      <a href="./quote-add">Add new quote</a>
    </div>

    <div class="card card-small">
      <a href="./quote-all">Get all quotes</a>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
<div class="w-responsive text-center mx-auto p-3 mt-2" style="background-color: cornsilk;">
  <p class="text-center">
    This is my non-profit project to training Java with Spring Boot and Angular.
    <br>
    How it works: At first go to "get all quotes" to see what data base has inside.
    <br>
    Than you can find image.jpeg, jpg or png with quotes or just simple try with this example:
    <br>
    http://img.picturequotes.com/2/516/515509/hed-once-known-a-man-who-said-that-life-hinged-on-the-moment-that-everything-changed-in-the-blink-quote-1.jpg
    <br>
    https://i.pinimg.com/736x/19/f1/0e/19f10e1719f403cf4fbd8e71f052781d.jpg
    <br>
    and try to add it to the data base. Please click twice to "Add new quote".
    <br>
    Project is able to recognise english language so please try with english.
    <br>
    Than please check if your quote has been add to the data base.
    <br>
    Sometimes "get all quotes" needs to be clicked twice.
    <br>
    Hope you will have fun time with this :)
  </p>

</div>
