<div class="content" role="main">
  <h3>Get all quotes</h3>

  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Url</th>
      <th scope="col">Content</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let image of images; index as i">
      <td>
        {{ image.id }}
      </td>

    <td > {{ image.url }}</td>
      <td>{{ image.content }}</td>
      <button type="submit" (click)="delete(image.id)" class="btn btn-danger">X</button>

    </tr>
    </tbody>
  </table>

  <div *ngIf="isImageDelete == true">
    <h3>Quote has been deleted</h3>
  </div>
</div>

